.score-board{
  display: flex;
  width: 800px;
  margin: auto;
  font-size: 2rem;
}

.player-1 {
  margin-right: auto;
  margin-left: 1rem;
  background-color: darkgreen;
  color: lightgreen;
}

.player-2 {
  margin-right: 1rem;
  background-color: darkblue;
  color: lightblue;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

canvas {
  margin: 1rem 2rem 0;
}

.game-control {
  display: flex;
}

.controls {
  height: 100px;
  width: 150px;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.controls-1 {
  margin-left: auto;
}

.controls-2 {
  margin-right: auto;
}

.up {
  grid-column: 2;
  grid-row: 1;
}

.down {
  grid-column: 2;
  grid-row: 2;
}

.right {
  grid-column: 3;
  grid-row: 2;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.button span {
  margin: auto;
}

.button {
  display: flex;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
}
